@import "../scss/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
// Colors
$white: #ffffff;
$grey: #777f98;
$black: #080c20;
$blue-med: #093f68;
$blue-light: #3ee9e5;
$red: #ff2965;
// Typography
$font-family: "Manrope",
sans-serif;
body {
    font-family: $font-family;
    background: $black;
    color: $grey;
    line-height: 25px;
    text-align: center;
}

h1,
h2,
h3 {
    font-weight: 800;
    color: $white;
}

h1 {
    font-size: 32px;
    line-height: 40px;
}

h2 {
    font-size: 24px;
    line-height: 32.8px;
}

h3 {
    font-size: 18px;
    line-height: 24.6px;
}

p {
    font-weight: 200;
    font-size: 15px;
    color: $grey;
}

header {
    .logo {
        padding: 40px 0 50px;
    }
}

.hero {
    .hero-txt {
        padding: 0 24px;
    }
    h1 {
        padding: 40px 40px 0;
        span {
            color: $blue-light;
        }
    }
    p {
        padding: 15px 0 20px;
    }
}

main {
    padding: 24px;
    section {
        padding-top: 80px;
        .features {
            .card {
                .image-bg {
                    width: 120px;
                    height: 120px;
                    padding: 40px;
                    background-color: $blue-med;
                }
            }
        }
    }
}