@import "../scss/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

// Colors
$white: #ffffff;
$grey: #777f98;
$black: #080c20;
$blue-med: #093f68;
$blue-light: #3ee9e5;
$red: #ff2965;

// Typography
$font-family: "Manrope", sans-serif;

body {
	font-family: $font-family;
	background: $black;
	color: $white;
	font-weight: 200;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
}
h1 {
	font-weight: 800;
	font-size: 32px;
}
